# 열 선택

- 방법1: 데이터프레임의 열 데이터를 1개만 선택할 때는, 대괄호 [ ] 안에 열 이름을 따옴표와 함께 입력
- 방법2: 데이터프레임 뒤에 . 찍고 열 이름을 입력
- 열 1개를 선택하면 **시리즈** 객체가 반환
- 주의: 2중 대괄호 [[ ]]를 사용하여 열 1개를 선택하면 반환되는 객체는 시리즈가 아니라 **데이터프레임**

In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름': ['서준','우현','인아'],
            '수학': [90,80,70],
            '영어': [98,89,95],
            '음악': [85,85,100],
            '체육': [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   85   90
2  인아  70  95  100   90

In [2]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [3]:
# '수학' 점수 데이터(열)만 선택.
math1 = df['수학']
print(math1)
print(type(math1))

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
# '영어' 점수 데이터(열)만 선택
english = df.영어
print(english)
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
# '음악','체육' 점수 데이터(열)를 선택
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))

    음악   체육
0   85  100
1   85   90
2  100   90
<class 'pandas.core.frame.DataFrame'>

In [6]:
# '수학' 점수 데이터만 선택
math2 = df[['수학']]
print(math2)
print(type(math2))

   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

# 범위 슬라이싱의 고급 활용

- DataFrame객체.iloc[시작 인덱스 : 끝 인덱스 : 슬라이싱 간격]
- 슬라이싱 범위는 '시작 인덱스'를 포함하고 '끝 인덱스'보다 1이 작은 인덱스까지 포함한다.
- '슬라이싱 간격'을 지정하지 않으면 1씩 증가한다.

In [7]:
# 데이터프레임 df의 모든 행에 대하여 0행부터 2행 간격으로 선택하려면 df.iloc[::2]
df.iloc[::2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [8]:
# 데이터프레임 df의 0행부터 2행까지 2행 간격으로 선택하려면 df.iloc[0:3:2]
df.iloc[0:3:2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

## 데이터프레임 모든 행을 역순으로 정렬하는 방법

In [9]:
# 역순으로 인덱승하려면 '슬라이싱 간격'에 -1을 입력
# 데이터프레임 df의 모든 행을 선택하여 역순으로 정렬하려면 df.iloc[::-1]
df.iloc[::-1]

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   85   90
0  서준  90  98   85  100