In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름': ['서준','우현','인아'],
            '수학': [90,80,70],
            '영어': [98,89,95],
            '음악': [85,85,100],
            '체육': [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   85   90
2  인아  70  95  100   90

In [2]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영
df.set_index('이름', inplace = True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   85   90
인아  70  95  100   90

## 원소 선택
- 인덱스 이름 사용: DataFrame객체.loc['행 인덱스','열 이름]
- 정수 위치 인덱스 사용: DataFrame객체.iloc[행 번호,열 번호]

In [3]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준','음악']
print(a)
b = df.iloc[0,2]
print(b)

85
85

In [7]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악','체육' 점수)
c = df.loc['서준', ['음악','체육']]
print(c)
print('\n')
d = df.iloc[0, [2,3]]
print(d)
print('\n')
e = df.loc['서준','음악':'체육']
print(e)
print('\n')
f = df.iloc[0,2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64

In [8]:
# 데이터프레임 df의 2개 이상의 행과 열에 속하는 원소들 선택 ('서준','우현'의 '음악','체육' 점수)
g = df.loc[['서준','우현'],['음악','체육']]
print(g)
print('\n')

h = df.iloc[[0,1],[2,3]]
print(h)
print('\n')

i = df.loc['서준':'우현', '음악':'체육']
print(i)
print('\n')

j = df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  85   90


    음악   체육
이름
서준  85  100
우현  85   90


    음악   체육
이름
서준  85  100
우현  85   90


    음악   체육
이름
서준  85  100
우현  85   90

In [10]:
# 모든 행에 대해 특정 열을 찾기   .loc 인덱서 사용
df.loc[:,['음악','체육']]
# 모든 행에 대해 2개의 열(음악,체육)을 찾음

     음악   체육
이름
서준   85  100
우현   85   90
인아  100   90

In [11]:
# 모든 행에 대해 특정 열을 찾기    .iloc 인덱서 사용
df.iloc[:,[2,3]]

     음악   체육
이름
서준   85  100
우현   85   90
인아  100   90

In [12]:
# 모든 행에 특정 열을 찾기     열 범위 지정
df.iloc[:,2:4]

     음악   체육
이름
서준   85  100
우현   85   90
인아  100   90