In [1]:
import pandas as pd

dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[4,5,6],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])
print(df)

    c0  c1  c2  c3  c4
r0   1   4   4  10  13
r1   2   5   5  11  14
r2   3   6   6  12  15

In [2]:
ndf = df.sort_index(ascending = False)
ndf

    c0  c1  c2  c3  c4
r2   3   6   6  12  15
r1   2   5   5  11  14
r0   1   4   4  10  13

In [3]:
ndf2 = df.sort_index(ascending = True)
ndf2

    c0  c1  c2  c3  c4
r0   1   4   4  10  13
r1   2   5   5  11  14
r2   3   6   6  12  15