In [1]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]

In [2]:
print(df.tail())

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

In [3]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [4]:
addition = df + 10
print(addition.tail())

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

In [5]:
print(type(addition))

<class 'pandas.core.frame.DataFrame'>

In [6]:
subtraction = addition - df
print(subtraction.tail())

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

In [7]:
print(type(subtraction))

<class 'pandas.core.frame.DataFrame'>