# 행 또는 열 삭제

In [1]:
import pandas as pd
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학':[90,80,70], '영어':[98,80,95],
            '음악':[85,95,100], '체육':[100,90,90]}

print(exam_data)

df = pd.DataFrame(exam_data, index = ['서준','우현','인아'])
print('\n')
print(df)

{'수학': [90, 80, 70], '영어': [98, 80, 95], '음악': [85, 95, 100], '체육': [100, 90, 90]}


    수학  영어   음악   체육
서준  90  98   85  100
우현  80  80   95   90
인아  70  95  100   90

In [7]:
df[:1]

    수학  영어  음악   체육
서준  90  98  85  100

In [10]:
df[0:2]

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  80  95   90

In [17]:
df['수학']

서준    90
우현    80
인아    70
Name: 수학, dtype: int64

In [21]:
print(df[['수학','음악']])
print('\n')
print(type(df[['수학','음악']]))

    수학   음악
서준  90   85
우현  80   95
인아  70  100


<class 'pandas.core.frame.DataFrame'>

In [2]:
# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row) 삭제
df2 = df[:]
df2.drop('우현', inplace = True)
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

C:\Users\SeongHee\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row) 삭제
df3 = df[:]
df3.drop(['우현','인아'], axis = 0, inplace = True)
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\SeongHee\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(